[submodule "world-forge"]
	path = world-forge
	url = https://github.com/EndlessSkyCommunity/world-forge
[submodule "endless-sky-high-dpi"]
	path = endless-sky-high-dpi
	url = https://github.com/endless-sky/endless-sky-high-dpi
[submodule "all-content-plugin"]
	path = all-content-plugin
	url = https://github.com/endless-sky/all-content-plugin
[submodule "Sarcina"]
	path = Sarcina
	url = https://github.com/Darcman99/Sarcina.git
[submodule "Omnis"]
	path = Omnis
	url = https://github.com/Darcman99/Omnis.git
[submodule "hand-to-hand-outfits"]
	path = hand-to-hand-outfits
	url = https://github.com/tmbutterworth/hand-to-hand-outfits.git
[submodule "Adamas-Project"]
	path = Adamas-Project
	url = https://github.com/toilethinges/Adamas-Project
[submodule "Eternals"]
	path = Eternals
	url = https://github.com/comnom/Eternals
[submodule "The-Aben"]
	path = The-Aben
	url = https://github.com/Darcman99/The-Aben
